.section-number {
    display: flex;
    flex-direction: column;
    align-items: center;

    .vertical-line{
        display: block;
        height: 84px;
        border-left: 1px solid $lightBluishGray;
    }
    .circled-num {
        display: block;
        text-align: center;
        padding-top: 1rem;
        width: 3.5rem;
        height: 3.5rem;
        background-color: $subWhite;
        border-radius: 50%;
        border: 1px solid $lightBluishGray;
    }
}


.section1 {
    margin-top: 4rem;
    padding: 0 1.5rem;

    @include breakpoint-up(medium) {
        margin-top: 5rem;
        padding: 0 2.5rem;
    }

    @include breakpoint-up(large) {
        margin-top: 7.25rem;
    }


    &__photo-div {
        margin-top: 4rem;
        display: grid;
        grid-template-columns: 46.18% 46.18%;
        justify-items: center;
        align-items: center;
        column-gap: 25px;
        row-gap: 25px;

        @include breakpoint-up(medium) {
            margin-top: 4.1875rem;
            display: flex;
            flex-direction: row;
            column-gap: 11px;
            justify-content: center;
        }

        @include breakpoint-up(large) {
            margin-top: 3.9375rem;
            column-gap: 30px;
        }

    }

    &__photo {
        width: 100%;
        border-radius: 8px;

        @include breakpoint-up(medium) {
            width: 164px;
        }

        @include breakpoint-up(large) {
            width: 255px;
        }
    }

    &__info {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            margin: 0.25rem 0 1.25rem;
        }

        @include breakpoint-up(medium) {
            margin-top: 2rem;

            h2 {
                margin: 0 0 1rem;
                width: 26rem;
            }

            p {
                width: 36rem;
            }
        }

        @include breakpoint-up(large) {
            margin-top: 4rem;

            h2 {
                // margin: 1rem 0 2rem;
                width: 28rem;
            }

            p {
                width: 34rem;
            }
        }
    }
}

.section2 {
    position: relative;
    margin-top: 3rem;

    @include breakpoint-up(medium) {
        margin-top: 4rem;
    }

    @include breakpoint-up(large) {
        margin-top: 3.5rem;
    }

    &__number {
        position: relative;
        z-index: 2;
    }

    &__info {
        z-index: -1;
        position: absolute;
        top: 111px;
        width: 100%;

        padding: 5.75rem 0 4.5rem;

        display: flex;
        flex-direction: column;
        align-items: center;

        background-image: url('/assets/mobile/image-footer.jpg');
        background-size: 100% auto;
        background-position: center top;

        @include breakpoint-up(medium) {
            padding-bottom: 4rem;
            background-image: url('/assets/tablet/image-footer.jpg');
            background-size: auto 100%;
        }

        @include breakpoint-up(large) {
            padding: 7.25rem 165px 5.5rem;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-start;
            background-image: url('/assets/desktop/image-footer.jpg');
  
        }

        h2 {
            margin: 0 0 0.25rem;
            color: $subWhite;

            @include breakpoint-up(medium) {
                margin-bottom: 1rem;
                width: 24rem;
            }

            @include breakpoint-up(large) {
                text-align: left;
            }

        }

        p {
            font-size: 1.125rem;
            line-height: 1.4444em;
            color: $subWhite;
            padding: 0 1.5rem;

            @include breakpoint-up(medium) {
                padding: 0;
                width: 36rem;
            }

            @include breakpoint-up(large) {
                margin: 0 0 0 5.625rem;
                text-align: left;
                width: 21.5rem;
            }
            
        }

        .cta-violet {
            margin-top: 1rem;

            @include breakpoint-up(medium) {
                margin-top: 1.375rem;
            }

            @include breakpoint-up(large) {
                margin: 1rem 0 0 6.125rem;
            }
        }

        &::before {
            content: "";
            z-index: -1;
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: $darkTeal;
            opacity: 0.8;
        }

        
    }
}