// COLORS
    $darkTeal: #4D96A9;
    $medTeal: #71C0D4;
    $lightTeal: #8FE3F9;

    $darkViolet: #855FB1;
    $medViolet: #B18BDD;
    $lightViolet: #D9B8FF;

    $darkBluishGray: #28283D;
    $lightBluishGray: #87879D;
    $lightBluishGrayBorder: hsla(240,10,57,.25);

    $subWhite: #FAFAFA;